@use "@/styles/variables" as *;

.ScrollElement {
    display: block;

    width: 100%;
    max-width: 100%;

    /*     overflow: hidden; */

    img {
        width: 100%;
        max-width: 100%;

        object-fit: cover;

        border-radius: $radius-small;
    }

    p {
        font-size: $t1;

        max-width: calc(50% - 1rem);
    }
}

.LeftText {
    p {
        margin-left: auto;
    }
}

.Wide {
    aspect-ratio: 16 / 9;

    max-width: 100%;

    img {
        display: block;

        aspect-ratio: 16 / 9;

        width: 100%;
        height: auto;
    }
}
