@use "@/styles/variables" as *;

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

html,
body {
    max-width: 100vw;
}

main {
    margin-top: 25vh;
}

section {
    width: 100%;

    padding: $padding-main $padding-lr;
    padding-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
